@import url(reset.css);
/* default */
body { width: 1920PX; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; margin: 0 auto; overflow-x: hidden; } 
a, a:hover { text-decoration: none; } 
h3 { display: block; font-size: 32px; line-height: 37px; letter-spacing: -1.6; font-weight: bold; box-sizing: border-box; } 
p { font-size: 20px; letter-spacing: -1; line-height: 1.85; } 
img { outline: none; border: none; } 

/* layout */
header { width: 1920px; height: 1080px; margin: 0 auto; background: url(../images/headerback.png) no-repeat 50% 0; overflow: hidden; } 
main { width: 100%; margin: 0 auto; box-sizing: border-box; } 
main>section { height: 1080px; box-sizing: border-box; overflow: hidden; margin: 0 auto; }
section.about { background: rgb(253, 253, 253); border-bottom: 1px solid rgb(253, 253, 253); }
 .content1 { background: rgb(253, 253, 253); } 
 .content2 { background: #1ED761; } 
 .content3 { background: #1ED761 url(../images/leaf1.png) no-repeat 100% 100%; } 
 .content4 { background: #1ED761 url(../images/home.png) no-repeat 100% 40%; } 
 .content5 { background: rgb(253, 253, 253) url(../images/bgcut.png) no-repeat 0 -20%; border-bottom: 1px solid rgb(253, 253, 253); } 
 .content6 { background: rgb(253, 253, 253); border-bottom: 1px solid rgb(253, 253, 253); } 
 .content6::after { content: ""; display: block; clear: both; } 
 .content7 { height: 1424px; background: url(../images/lastback.png) no-repeat 0 0; } 
footer { width: 100%; height: 734px; background-color: #1ed761; padding: 163px 311px 149px; box-sizing: border-box; } 


/* detail */
/* header */
header>section { float: left; width: 50%; height: 100%; padding: 350px 0 0 160px; box-sizing: border-box; } 
header>section>p { display: block; color: #10502c; font-size: 32px; line-height: 32px; } 
header h1>strong { color: #10502c; font-size: 60px; font-weight: bold; line-height: 60px; } 
header h1>span { color: #fff; font-size: 30px; } 
header>section>img { float: left; width: 102px; height: 102px; margin: 19px 31px 0px 0px; } 
header>section>ul.tag { float: left; width: 383px; margin-top: 23px; } 
header>section>.tag>li { display: inline-block; margin-bottom: 9px; } 
header>section>.tag>li:first-child, li:nth-child(3) { margin-right: 12px; } 
div.half { float: right; width: 50%; height: 100%; box-sizing: border-box; overflow: hidden; } 
.half>.mock1 { float: left; margin: -504px 77px 50px 0px; transform: translateY(192px); } 
.half>.mock2 { float: left; margin: -204px 77px 50px 0px; transform: translateY(192px); } 
.half>.mock3 { float: left; margin: -300px 77px 50px 0px; transform: translateY(192px); } 
.half>.mock4 { float: left; margin: 0px 77px 50px 0px; transform: translateY(192px); } 
.half>.mock5 { float: right; margin: -1020px -120px 50px 0px; transform: translateY(192px); } 

/* section.about */
article.intro { width: 100%; height: 358px; padding: 75px 265px 54px; background-color: #1ed761; box-sizing: border-box; } 
.intro>h3 { height: 148px; margin-right: 150px; float: left; box-sizing: border-box; background: url(../images/logo1.png) no-repeat 0 0; padding: 75px 0px 28px 133px; } 
.intro>section { float: left; letter-spacing: -1.2; margin-top: 20px; } 
.intro>section>h4 { height: 24px; font-size: 24px; margin-bottom: 31px; } 
article.feat, 
article.guide { width: 50%; height: 633px; box-sizing: border-box; } 
.feat>h3,
.guide>h3 { height: 68px; line-height: 105px; background-image: url(../images/leaf0.png); background-repeat: no-repeat; margin-bottom: 44px; } 
.feat { float: left; padding: 108px 0px 115px 306px; } 
.feat>h3 { background-position: 23%; } 
.feat>ul { display: block; height: 110px; margin-bottom: 31px; } 
.feat>ul>li { display: inline-block; vertical-align: middle; width: 110px; height: 110px; font-size: 20px; border: 2px solid #1ed761; border-radius: 50%; text-align: center; padding: 40px 0; box-sizing: border-box; margin: 0; font-size: 18px; } 
.feat>ul>span { display: inline-block; width: 29px; height: 29px; background-image: url(../images/img364.png); background-repeat: no-repeat; background-size: 29px; text-indent: -9999px; overflow: hidden; transform: translateY(10px); } 
.guide { float: right; padding: 108px 323px 90px 27px; } 
.guide>h3 { background-position: 26%; } 
.guide>ul { display: block; margin-bottom: 27px; } 
.guide>ul>li { display: inline-block; width: 241px; height: 66px; color: #10502c; font-weight: bold; box-sizing: border-box; padding: 23.5px 170px 23.5px 19px; } 
.color1 { background-color: #D9F8E5; } 
.color2 { background-color: #E6FDC0; margin-left: -5px; } 
.color3 { background-color: #1ED761; } 
.color4 { background-color: #fff; margin-left: -17px; } 
.guide>p { font-size: 18px; } 
.guide>p>span { display: block; font-size: 24px; font-weight: 500; letter-spacing: -1.2; margin-bottom: 21px; } 
.guide>p>b { display: block; line-height: 20px; margin-bottom: 13px; color: #10502c; } 



/* main */
/* content1 */
.content1>article { margin: 94px 145px 107px 484px; } 
.content1>article::after { content: ""; display: block; clear: both; } 
.mock { float: left; } 
.mainp { display: block; float: right; width: 65%; height: 879px; } 
.mainp>h3 { background: url(../images/logo2.png) no-repeat 20% 100%; height: 110px; padding-top: 60px; margin: 0 0 29px 35px; } 
.mainp>p { margin: 0 0 100px 35px; } 
.content1 img { vertical-align: bottom; } 
.mainp>img:first-of-type { margin-right: 21px; } 

/* content2 */
.feed { margin: 28px 305px 99px 175px; } 
.feed::after { content: ""; display: block; clear: both; } 
.feed>div.d1 { float: left; position: relative; width: 580px; margin-top: 300px; } 
.feed>div.d1::after { content: ""; display: block; clear: both; } 
.feed>.d1>h3 { float: left; height: 285px; background: url(../images/nonleaf.png) no-repeat 0 100%; padding: 150px 0px 97px 91px; } 
.feed>.d1>p { position: absolute; left: 100px; top: 200px; width: 500px; height: 111px; } 
.feed>div.d2 { float: right; background: url(../images/leaf2.png) no-repeat 50% 5%; } 
.feed>div.d2>img { margin-top: 127px; } 
.feed>div.d2>img:first-of-type { margin-right: 12px; } 


/* content3 */
.info { margin: 137px 323px 70px 367px; } 
.info>img { margin: 20px 100px 0 141px; } 
.info>p { display: block; float: right; margin-top: -604px; } 


/* content4 */
.furnit { margin: 102px 368px 97px 222px; overflow: visible;} 
.furnit::after { content: ""; display: block; clear: both; } 
.furnit>h3 { display: block; height: 90px; background: url(../images/leaf4.png) no-repeat 0 0; padding: 28px 0 0 51px; } 
.furnit>img { float: left; margin: -30px 40px 0 290px; } 
.furnit>p { display: block; float: right; margin-top: 400px; } 


/* content5 */
.deal { margin: 131px 310px 131px 374px; } 
.deal::after { content: ""; display: block; clear: both; } 
.deal>.dealis { float: left; width: 579px; height: 819px; } 
.dealis>h3 { width: 371px; height: 119px; background: url(../images/leaf3.png) no-repeat 95% 0; padding: 45px 0 34px; margin-top: 134px; line-height: 36px; } 
.dealis>p { margin-bottom: 188px; } 
.dealis>h4 { font-size: 28px; font-weight: bold; margin-bottom: 23px; } 
.dealis>ul>li { display: inline-block; margin-right: 76px; line-height: 1.9; } 
.dealis>ul span { font-weight: bold; font-size: 22px; } 
.dealis>ul>li>ul { display: block; font-size: 20px; } 
.mockup { width: 603px; height: 819px; position: relative; float: right; } 
.mockup>div>.frnt { position: absolute; right: 215px; bottom: 0; z-index: 5; } 
.mockup>div>.back { position: absolute; right: 0; bottom: 0; } 
.mockup>p.left { position: absolute; top: 0; right: 20px; }
.mockup>p.bottom { position: absolute; top: 30px; right: 20px; } 


/* content6 */
.content6>article { margin: 155px 135px 65px; height: 860px; background: url(../images/round.png) no-repeat 0 0; position: relative; box-sizing: border-box; } 
.content6>article::after { content: ""; display: block; clear: both; } 
.title { display: block; float: right; padding-right: 13px; transform: translateY(64px) translateX(-148px);} 
.title>p { text-align: right; } 
.bck { position: absolute; top: 0; } 
.bck::after { content: ""; display: block; clear: both; } 
.bck>.feedback { float: left; padding: 0 185px 0 98px; }
.bck>.feedback>p { position: absolute; top: -45px; text-align: right; margin-bottom: 13px; height: 32px; }
.bck>.design { float: left; padding: 55px 185px 0 0; }
.bck>.design>p { position: absolute; top: 10px; text-align: right; margin-bottom: 13px; height: 32px; } 
.bck>.cate { float: right; padding: 110px 199px 0 0; } 
.bck>.cate>p { position: absolute; top: 65px; text-align: right; margin-bottom: 13px; height: 32px; }
.fnt { position: absolute; top: 65px; text-align: center; } 
.fnt::after { content: ""; display: block; clear: both; } 
.fnt>.frfd { float: left; margin: 0 185px 0 177px; } 
.fnt>.posting { float: left; margin: 55px 185px 0 0; } 
.fnt>.bbs { float: left; margin: 110px 114px 0 0; } 


/* content7 */
.content7 { position: relative; } 
.content7::after { content: ""; display: block; clear: both; } 
.one { position: absolute; left: -172px; top: -180px; } 
.two { position: absolute; top: -116px; margin-left: 558px; } 
.three { position: absolute; right: -292px; top: -109px; } 
.four { position: absolute; left: -269px; margin-top: 359px; } 
.five { margin: 363px 524px 0 563px; } 
.six { position: absolute; right: -179px; top: 462px; } 
.seven { position: absolute; top: 845px; left: -266px; } 
.eight { position: absolute; top: 937px; margin: 0 657px 0 419px; } 
.nine { position: absolute; top: 957px; right: -170px; } 


/* footer */
footer>p { font-size: 100px; color: #10502c; font-weight: 500; letter-spacing: -2.5px; background: url(../images/logo1.png) no-repeat 0 0; text-align: center; margin-bottom: 21px; } 
footer>small { display: block; text-align: center; margin-bottom: 99px; } 
footer>div.btn { display: block; text-align: center; } 
footer>div>a:first-child { margin-right: 40px; } 


/* for scroll effect */
.animated { opacity: 0; visibility: hidden; transition:1500ms cubic-bezier(0.23,1,0.32,1); }
.animated.show { opacity: 1; visibility: visible; transform:translate(0) scale(1); } 

.fadeInUp { transform:translateY(100px); } 
.fadeInDown { transform:translateY(-100px); } 
.fadeInLeft { transform:translateX(100px); } 
.fadeInRight { transform:translateX(-100px); } 
.turnIn { transform:scaleX(-1); transform-style: preserve-3d; backface-visibility: hidden; } 
.zoomIn { transform:scale(0.3); } 

